body {
    background-color: rgb(5, 5, 5);
    color: #fffdef;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1f2937;
    border-bottom: 1px solid #374151;
    width: 100%;
}

select,
button {
    height: 45px;
    background-color: #1f2937;
    color: #fffdef;
    border: 1px solid #fff;
    padding: 0 15px;
}

input[type="color"] {
    width: 60px;
    height: 45px;
    border: 1px solid #374151;
    cursor: pointer;
}

select {
    width: 260px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

button {
    width: 130px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
    background-color: #374151;
}

.color-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    flex-grow: 1;
}

.color-div {
    cursor: pointer;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.color-box {
    height: 80vh;
    width: 95%;
    border: 1px solid none;
    flex-grow: 1;
    margin-left: 7px;
}

p {
    text-align: center;
}