body {
    background-color: rgb(5, 5, 5);
    margin: 0;
    padding: 0;
}

input,
select,
button {
    height: 40px;
}

input {
    width: 60px;
}

select {
    width: 260px;
}

button {
    width: 130px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
}

.color-container {
    display: flex;
    /* gap: 10px; */
    margin-top: 10px;
}

.color-div {
    cursor: pointer;
}

.color-box {
    height: 200px;
    width: 100%;
    border: 1px solid none;
    border-radius: 1px;
}
